* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  background-color: #262626;
  position: relative;
  padding: 3% 0;
}

.mainTitle {
  font-size: 3rem;
  text-align: center;
  color: #f5d131;
}

.squareHolder {
  padding-top: 2%;
  width: 100%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  min-height: 200px;
  min-width: 200px;
  margin: 0 5%;
  border: 1px solid #111;
  background-color: #111;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.9);
}
.cashInfo-space {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.7rem 25%;
}

.playerBet-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 1.7rem;
}
.entryStake {
  width: 75%;
  max-width: 220px;
  min-width: 220px;
  border: 2px solid #2f2f2f;
  border-radius: 5px;
  padding-left: 2.5px;
  font-size: 1.6rem;
  outline: 0;
  color: #3f3f3f;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.9);
}

.submit {
  height: 35px;
  min-width: 70px;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  border: none;
  margin-left: 5px;
  background-color: white;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.9);
}

.playerCash {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #4d4dff;
}

.cashAmount {
  color: green;
}
.playerStats-space {
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  font-size: 1.4rem;
  color: #4d4dff;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-align: center;
}
li {
  margin: 2.5px 0;
}
li:nth-child(1) span {
  color: #d8ee00;
}

li:nth-child(2) span {
  color: #42df42;
}

li:nth-child(3) span {
  color: #f22;
}

.blurLayer {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  background-color: transparent;
  z-index: -1;
}

.loseSpace {
  border: 1px solid black;
  border-radius: 7px;
  height: 100px;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: white;
  line-height: 40px;
  display: none;
}

.loseSpace button {
  height: 35px;
  width: 120px;
  margin: 10px 0;
  font-size: 1.1rem;
  cursor: pointer;
}

.submit:hover {
  animation: buttonColorChange 0.4s both;
}

.wrongValue {
  border-color: #f00;
}

@keyframes buttonColorChange {
  100% {
    background-color: #f22;
  }
}

@media (max-width: 800px) {
  .square {
    margin: 0;
    min-width: calc(100% / 3);
  }
  .cashInfo-space {
    flex-direction: column;
    align-items: center;
    padding: 1.7rem 15%;
  }
  .playerCash-space {
    width: 100%;
    text-align: center;
  }
  .playerBet-space {
    width: 100%;
    justify-content: center;
  }
  .entryStake {
    width: 75%;
  }
}
